# SPDX-FileCopyrightText: 2026 Alessandro Ricci
# SPDX-FileCopyrightText: 2026 Eyad Issa
# SPDX-FileCopyrightText: 2026 Giulia Pareschi
#
# SPDX-License-Identifier: MIT

[submodule "crazyflie-firmware"]
	path = cf-firmware
	url = https://github.com/bitcraze/crazyflie-firmware.git
