# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: 2026 Eyad Issa <eyadlorenzo@gmail.com>

---
CompileFlags:
  Remove:
    - "-fconserve-stack"
    - "-fno-var-tracking-assignments"
    - "-fno-ipa-sra"
    - "-mno-thumb-interwork"
    - "-fstack-usage"
    - "-mfp16-format=ieee"
  Add:
    - "-target"
    - "arm-none-eabi"
